<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    
<!-- Menu de navegação -->
<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
    	<a class="navbar-brand" href="#">
      		<img alt="Baraldi" src="/images/letter-b.png" width="30" height="24" class="d-inline-block align-text-top"/>	      		
      	</a>
  	</div>
  </div>
</nav>
    
</html>    